<h1 class="mt-4">Rails Gambit</h1>
<% if current_user %>
  <h3><%= current_user.email %></h3>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <%= render partial: "layouts/players" %>
<% else %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
<% end %>